{% extends 'admin_layout.html' %}


{% block content %}

<body id="page-top" class="fixed-nav sticky-footer bg-dark">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table">Surat Keterangan Dari RS</i>
         <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                            <th>No</th>
                            <th>tanggal</th>
                            <th>nama dokter</th>
                            <th>Rumah sakit</th>
                            <th>Nama Korban</th>
  
                    </tr>
                
                    </thead>
                    <tbody>
                            
                    <tr >
                
                            <td>1</td>
                            <td>12/12/1221</td>
                            <td>ini dokter</td>
                            <td>ini rumah sakit</td>
                            <td>ini korban</td>
                            <td><center>
                                <a href = "" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Detail&nbsp;&nbsp;</a>
                              <a href = "" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Terima&nbsp;&nbsp;</a>
                                <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Tolak</button></center></td>
                    
                    </tr>

{% endblock %}