{% extends 'polres_layout.html' %}


{% block content %}


<body id="page-top" class="fixed-nav sticky-footer bg-dark">
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table">Korban List</i>
       <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                          <th>No</th>
                          <th>Judul</th>
                          <th>Lokasi</th>
                          <th>Waktu kejadian</th>
                          <th>Status</th>
                          <th>Action</th>
                  </tr>
              
                  </thead>
                  <tbody>
                          
                  <tr >
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                          </td>
                      <td>
                          <button id="toggle" type="button"  onclick="myFunction()" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> follow up</button></center>
                          <a href = "/polres/laporan_laka/detail_laka" button type="button" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Detail</button></center></td>
                          <script>

                              function myFunction() {
                                  var change = document.getElementById("toggle");
                                  if (change.innerHTML == "follow up")
                                  {
                                      change.innerHTML = "followed up";
                                  }
                                  else {
                                      change.innerHTML = "follow up";
                                  }
                              }
                  
                          </script>
                  </tr>
{% endblock %}