{% extends 'RS_layout.html' %}


{% block content %}
<a href  class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Print&nbsp;&nbsp;</a>
<a href  class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Send to JasaRaharja&nbsp;&nbsp;</a>
</br>

<img id="myImg" src="https://1.bp.blogspot.com/-dl0hrYhvr3E/WmB1_UU23pI/AAAAAAAAC4o/ulx7rFw9vFsKkbi44zvlsBSYYQ2X4u6EwCLcBGAs/s1600/formulir-pengajuan-santunan-jasa-raharja-jendela-buwana.jpg" alt="Trolltunga, Norway" width="750" height="1000">



{% endblock %}